@charset "ISO-8859-1";

body{	
	background-color: #0A0A0A;
	padding: 0px;
  	margin:0px;
   	font-family: Verdana, Geneva, sans-serif;
  	line-height: 1.2em;
  	color: #ffffff;
  	  	
}
legend{
	color: #ffffff;
}
header img{	
	display: inline;
	margin-right: 50px;	
}

input{
	
    height: 30px;
	margin-left:620px;
	border:none;
	align-items:center;
}


i{	
	right: 10px;
}

.head{
	margin-left:600px;
	 font-weight: bold;  
	
}
header nav li{
  float: left;
  display: block;

}
	
nav ul {
  margin: 0;
  padding:10px;
  list-style: none;
  color: #9a5ecb;
  background-color: #0A0A0A;
  overflow: hidden;    
}

#login input[type=text]{
	display: inline-block;
	height:30px;
	margin: 8px 15px;
	text-align:left;	
}

#login input[type=password]{
	display: inline-block;
	height:30px;
	margin: 8px 20px;
	text-align:left;	
}

#login input[type=submit]{
	display: inline-block;
	height:30px;
	margin: 8px 100px;
	text-align:left;
}


.register input[type=text]{
	display: inline-block;
	height:30px;
	margin: 8px 85px;
	text-align:left;
}


.register input[type=password]{
	display: inline-block;
	height:30px;
	margin: 8px 20px;
	text-align:left;	
}

#pass{
	display: inline-block;
	height:30px;
	margin: 8px 90px;
	text-align:left;	
}

.register input[type=submit]{
	display: inline-block;
	height:30px;
	margin: 8px 169px;
	text-align:left;	
}

nav li {

  display: inline-block;
  margin-right: 50px;
  font-size:1.2em;
}

.page nav ul{
	overflow:hidden;
	background-color: #252525;
	
}

.page nav a{
  display: block;
  color: #9a5ecb;
  text-decoration: none;
  text-align:center;
  padding: 10px;
  font-weight: bold;
  font-size:15px;
  
}

input li{
  
  color: #252525;
  font-size: 17px

  }
  
  section{
  	padding: 200px;
  }
  
  footer{
	background-color: #252525;
	margin:100;
	color: #9a5ecb;
	padding:5px;
	font-size:0.7em;
	text-align: center;
	width: 100%;
}

button{
	color: #9a5ecb;
	font-size:15px;
	border:0px;
	background-color: #252525;
	font-weight: bold;
	font-family: Verdana, Geneva, sans-serif;
	padding: 10px 8px;
}
.dropdown{
	float:left;
	overflow:hidden;
	
}

.dropdown-content{
	display: none;
	position: absolute;
	min-width: 150px;
	z-index: 1;
	background-color: #ffffff;
	
}


.dropdown-content a{
	display: block;
	float: none;
	text-align: left;
	padding: 10px 24px;
	*z-index: 1;
	background-color: #ffffff;
}

.dropdown:hover .dropdown-content{
	display:block;
}